@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Atkinson Hyperlegible', sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono', monospace;
	--color-primary: oklch(0.705 0.213 47.604);
	--color-primary-lighter: oklch(0.75 0.183 55.934);
}

/* html[data-theme='dark'] {
	--color-white: var(--color-red-500);
} */

/* * {
	@apply border border-cyan-200;
} */

@layer base {
	body {
		@apply font-sans bg-white dark:bg-neutral-900 dark:text-white;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply my-2.5 text-xl font-mono tracking-tighter;
	}

	/* h2 {
		@apply text-2xl;
	} */

	h3 {
		@apply text-neutral-600 dark:text-neutral-400 uppercase;
	}

	p {
		@apply leading-snug tracking-wide text-neutral-600 dark:text-neutral-400;
	}

	p + p {
		@apply mt-2.5;
	}
}

@layer component {
	/* button > svg {
		@apply inline-block mb-0.75;
	} */

	div.scroll-effect {
		will-change: transform;
		animation: scrolling 20s linear infinite;

		i {
			@apply text-7xl text-neutral-500 dark:text-neutral-600;
		}
	}

	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

@media (prefers-color-scheme: dark) {
	@theme {
		--color-white: var(--color-neutral-100);
	}
}
