@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Atkinson Hyperlegible', sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono', monospace;
	--color-primary: oklch(0.705 0.213 47.604);
	--color-primary-lighter: oklch(0.75 0.183 55.934);
}

@layer base {
	body {
		@apply font-sans bg-white dark:bg-neutral-900 dark:text-neutral-100;
		@apply border border-cyan-200;
	}

	h1,
	h2,
	h3 {
		@apply font-mono tracking-tighter;
	}

	h2 {
		@apply text-2xl;
	}

	p {
		@apply dark:text-neutral-100;
	}

	i {
		@apply text-7xl text-neutral-500;
	}
}

.scroll-effect {
	will-change: transform;
	animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
